@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.otf');
}


@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../fonts/Gilroy-ExtraBold.otf');
}

body{
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Gilroy-Bold';
  width: 100%;
  display: flex;
}


